/* start store */

* {
    font-family: 'Kalam', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: #FFB700;
    --second-color: #008E89;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:767) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading+p {
        margin: -20px 0 0;
    }
}


/* end combonents */


/* smal screens  */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/* meduim screens  */

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


/* large screens */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.store {
    margin-top: 80px;
}

.store .container .text1 {
    margin-bottom: 15px;
}

.store .container .text1 h1 {
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    color: var(--second-color);
    font-weight: 800;
}

.store .container .text1 p {
    text-align: center;
    line-height: 4px;
    margin-top: -18px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #968f8f;
    font-size: 20px;
}

.store .container .requests {
    display: flex;
    justify-content: space-between;
}

.store .container .form {
    margin-top: 65px;
    display: flex;
    align-items: flex-start;
}

.store .container .form form input {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    border-radius: 12px;
    border: 2px solid var(--main-color);
    font-size: 20px;
    margin: 15px 0;
    color: var(--second-color);
}

.store .container form input:focus {
    outline: 0;
    border: 2px solid var(--second-color);
}

.store .container .form form button {
    display: flex;
    align-items: flex-start;
    padding: 15px 14%;
    color: white;
    background-color: var(--main-color);
    border: solid 2px var(--main-color);
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 80px;
    transition: 1s;
    font-size: 20px;
}

.store .container .form form button:hover {
    color: var(--second-color);
    background-color: #fff;
}

.store .container .requests .pays {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -60px;
}

.store .container .requests .pays img {
    width: 150px;
    margin-right: 40px;
    cursor: pointer;
}

@media (max-width: 991px) {
    .store .container .requests .pays img {
        width: 70px;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 582px) {
    .store .container .requests .pays img {
        width: 40px;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .store .container .requests .pays {
        /* display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -60px; */
        margin-top: 200px;
    }
}


/* end store */